<table cellpadding="0" cellspacing="0" class="m_7264307680545753922email-wrapper" style="padding-top:32px;background-color:#ffffff"><tbody>
<tr><td>
<table cellpadding="0" cellspacing="0"><tbody>
<tr><td style="max-width:560px;padding:24px 24px 32px;background-color:#fafafa;border:1px solid #e0e0e0;border-radius:2px">
<img style="padding:0 24px 16px 0;float:left" width="72" height="72" alt="Icône&nbsp;Erreur" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=0b9fa83cc8&amp;attid=0.0.1&amp;permmsgid=msg-f:1636875339554510803&amp;th=16b75972e3be57d3&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ-wcibjBVh_JxNpTXjjqEkaa7cmRW3TdMgGT3kZvKV3j0q3UgLWdo63Q6kvaopsoKLiCeuLfSvnzVLnZ2tm6Y3TDAaVjNyBWXQtsLEMHEHSY9ZiJV9xPyHWBz8&amp;disp=emb" data-image-whitelisted="" class="CToWUd">
<table style="min-width:272px;padding-top:8px"><tbody>
<tr><td><h2 style="font-size:20px;color:#212121;font-weight:bold;margin:0">
Adresse introuvable
</h2></td></tr>
<tr><td style="padding-top:20px;color:#757575;font-size:16px;font-weight:normal;text-align:left">
Votre message n'est pas parvenu à <a style="color:#212121;text-decoration:none"><b>panouraa2231@gmail.com</b></a>, car l'adresse est introuvable ou ne peut pas recevoir de messages.
</td></tr>
<tr><td style="padding-top:24px;color:#4285f4;font-size:14px;font-weight:bold;text-align:left">
<a style="text-decoration:none" href="https://support.google.com/mail/?p=NoSuchUser" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://support.google.com/mail/?p%3DNoSuchUser&amp;source=gmail&amp;ust=1561132698892000&amp;usg=AFQjCNHnBLVhLjT-kX94w_83ARnilgjR_A">EN SAVOIR PLUS</a>
</td></tr>
</tbody></table>
</td></tr>
</tbody></table>
</td></tr>
 </tbody></table>